table {
  width: 400px;
  margin: 40px auto 0;
}


tbody {
  display: flex;
  justify-content: center;
}


td > img {
  width: 100px;
  height: 100px;
  border: 1px solid gray;
}

#spin {
  width: 150px;
  margin: 0 auto;
  text-align: center;
  background-color: skyblue;
  color: #fff;
  border-radius: 10px;
  height: 40px;
  line-height: 40px;
}

#spin:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* body {
  background-color: gray;
} */

